name: Publish to npm

on:
    push:
        branches:
            - dev

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: '18'
                  registry-url: 'https://registry.npmjs.org'
            - run: npm -v
            - run: npm install -g pnpm
            - run: pnpm install
            - run: npm run build
            - run: ls -la dist
            - run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
